# MySQL agent
[client]
default-character-set = {{ mariadb_chatacter_set }}
# this is read by the standalone daemon and embedded servers
[server]
# this is only for the mysqld standalone daemon
[mysqld]
# Galera-related settings
[galera]
# this is only for embedded server
[embedded]
# This group is only read by MariaDB servers, not by MySQL.
# If you use the same .cnf file for MySQL and MariaDB,
# you can put MariaDB-only options here
[mariadb]
bind-address = {{ mariadb_bind_address }}
character_set_server = {{ mariadb_chatacter_set }}
collation_server = {{ mariadb_collation_server }}
{% if mariadb_skip_networking %}
skip-networking
{% endif %}
# This group is only read by MariaDB-10.8 servers.
[mariadb-10.8]
# MySQL agent
[mariadb-client]
default-character-set = {{ mariadb_chatacter_set }}