upstream {{ reference }} {
    server 127.0.0.1:{{ app_port }};
}

server {
  listen 80;
  server_name {{ domain }};

  location / {
    return 301 https://$host$request_uri;
  }

  {% if letsencrypt %}
  location ~ /\.well-known/acme-challenge/ {
      allow all;
      root {{ common_working_path }}/letsencrypt;
      try_files $uri =404;
      break;
  }
  {% endif %}
}

server {

    {% if client_max_body_size is defined %}
    client_max_body_size {{ client_max_body_size }};
    {% endif %}

    listen 443 ssl;
    server_name {{ domain }};
    charset utf-8;
    error_log {{ nginx_http_log_path }}/{{ domain }}-error.log;
    access_log {{ nginx_http_log_path }}/{{ domain }}-access.log;

    ssl_protocols {{ nginx_http_ssl_protocols }};
    ssl_prefer_server_ciphers {{ nginx_http_ssl_prefer_server_ciphers }};
    ssl_session_timeout 1d;
    ssl_session_cache shared:SSL:50m;
    ssl_session_tickets off;
    # TODO Redo Diffie Helmann
    # ssl_dhparam /sec/dhparam.pem;

    ssl_certificate /etc/nginx/sec/{{ domain }}.cert.pem;
    ssl_certificate_key /etc/nginx/sec/{{ domain }}.key.pem;

    {% if letsencrypt %}
    ssl_stapling on;
    ssl_stapling_verify on;
    ## verify chain of trust of OCSP response using Root CA and Intermediate certs
    ssl_trusted_certificate /etc/ssl/certs/ca-certificates.crt;
    {% endif %}

    {% if auth_user is defined %}
      auth_basic "Please login to continue";
      auth_basic_user_file {{ common_working_path }}/nginx/.htpasswd_{{ domain }};
    {% endif %}

    location / {
        # Forwarding using upstream
        proxy_pass http://{{ reference }};
        proxy_redirect default;
        proxy_http_version 1.1;

      proxy_set_header Host $host:$server_port;
      proxy_set_header X-Real-IP $remote_addr;
      proxy_set_header X-Forwarded-Port $server_port;
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header X-Forwarded-Proto $scheme;

      # Websocket agents
      proxy_set_header Upgrade $http_upgrade;
      proxy_set_header Connection 'upgrade';

      proxy_connect_timeout  90;
      proxy_send_timeout         90;
      proxy_read_timeout         90;
      proxy_cache_bypass $http_upgrade;

      {% if proxy_location_rules is defined %}
      {{ proxy_location_rules }}
      {% endif %}
    }

    {% if letsencrypt %}
    location ~ /\.well-known/acme-challenge/ {
        allow all;
        root {{ common_working_path }}/letsencrypt;
        try_files $uri =404;
        break;
    }
    {% endif %}
}
