#!groovy

import jenkins.model.*
import hudson.security.*
import jenkins.install.*;
import java.util.logging.Logger
import jenkins.model.JenkinsLocationConfiguration

def logger = Logger.getLogger("")
def instance = Jenkins.getInstance()

logger.info("Set Jenkins installation state to complete in order to skip wizard")
instance.setInstallState(InstallState.INITIAL_SETUP_COMPLETED)

logger.info("Set Jenkins location configuration")
def jenkinsLocationConfiguration = JenkinsLocationConfiguration.get()
jenkinsLocationConfiguration.setUrl('https://{{ jenkins_fqcdn }}')
jenkinsLocationConfiguration.setAdminAddress('{{ jenkins_admin_email }}')
jenkinsLocationConfiguration.save()

logger.info("Create an initial admin user '{{ jenkins_admin_user_name }}'")
def hudsonRealm = new HudsonPrivateSecurityRealm(false)
hudsonRealm.createAccount('{{ jenkins_admin_user_name }}','{{ jenkins_admin_user_pass }}')
instance.setSecurityRealm(hudsonRealm)
def strategy = new FullControlOnceLoggedInAuthorizationStrategy()
instance.setAuthorizationStrategy(strategy)

instance.save()
